* {
    border: 0;
    margin: 0;
}

a:link {
    text-decoration: none;
    color: black;
}

main {
    border: solid red 1px;
}

.intro {
    border: solid blue 1px;
    color: red;
    font-size: 30px;
    width: 100%;
    position: relative;
    margin-top: 50vh;
    animation-name: inicio;
    animation-duration: 6s;
}

@keyframes inicio {
    from {
        font-size: 10px;
    }
    to {
        font-size: 50px;
    }
}