@media only screen and (max-width:700px) {
    section {
        border: solid rgb(179, 174, 174) 1px;
        position: relative;
        width: 200px;
        height: 260px;
        left: 0;
        top: 60px;
    }
    main {
        display: grid;
        grid-template-columns: 200px;
        justify-content: center;
        position: relative;
        top: 0;
        left: 0;
        height: 550px;
    }
    #buttom {
        position: relative;
        height: 30px;
        width: 90px;
        padding: 5px;
        font-size: 13px;
    }
    .icon {
        position: relative;
        top: 10px;
        left: 10px;
    }
    .icon>img {
        width: 20px;
        height: auto;
    }
    .icon-add {
        position: relative;
        top: -10px;
        width: 100%;
        border: solid red 1px;
    }
    /* controlador de seta */
    .seta-esquerda {
        position: absolute;
        top: 33%;
        left: 15px;
        transform: translateY(-30%);
        transform: rotate(180deg);
    }
    .seta-direita {
        position: absolute;
        top: 35%;
        right: 15px;
        transform: translateY(-35%);
        /* transform: rotateX(30deg); */
    }
}