@media only screen and (max-width:700px) {
    section {
        border: solid rgb(179, 174, 174) 1px;
        position: relative;
        width: 200px;
        height: 260px;
        left: 0;
        top: 30px;
    }
    main {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        position: relative;
        top: 0;
        left: 0;
        height: 80vh;
    }
    #buttom {
        position: relative;
        height: 30px;
        width: 90px;
        padding: 5px;
        font-size: 13px;
    }
    .icon {
        position: relative;
        top: 40px;
        left: 10px;
    }
    .icon>img {
        width: 20px;
        height: auto;
    }
}